.theme-btn {
  outline: 0;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: wheat;

}
 /* Dark Magic Animation Hover */
 .theme-btn:hover {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.1s;

}

 /* Dark theme styles */
.Dark {
  background-color: #242424;
  color: white !important;
}

.Dark main {
  color: white !important;
}
.Light {
  background-color: white;
  color: #1a1a1a;
}
    /* Dark Icon Switch  */
.Dark .moon {
  display: none;
}
.Light .sun {
  display: none;
}